<div class="container p-4">
    <div class="row">
        <div class="col-md-4 mx-auto">
            <div class="card text-center">
                <div class="card-body">
                    <h3>Bienvenida {{user.fullname}}</h3>
                    <h5>Su usuario es {{user.username}}</h5>
                    <a href="/clientes" class="btn btn-primary m-4">
                        Clientes
                    </a>
                    <a href="/entrenadores" class="btn btn-primary m-4">
                        Entrenadores
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>